Babel==2.5.3
certifi==2018.4.16
chardet==3.0.4
django==2.0.4
django-phonenumber-field==2.0.0
django-twilio==0.9.0
idna==2.6
phonenumberslite==8.9.4
pipenv==11.10.1
PyJWT==1.6.1
PySocks==1.6.8
pytz==2018.4
requests==2.18.4
six==1.11.0
spotipy==2.4.4
twilio==6.13.0
urllib3==1.22
virtualenv==15.2.0
virtualenv-clone==0.3.0
